
/* ------ CSS CARDGAME ------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Pixelify+Sans:wght@400;500&display=swap');
body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-family: 'Pixelify Sans', cursive;
  background-color: rgb(214, 214, 214);
  color: #575656;
}
div{
  margin: 2em;
}


