.divGame_Cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    
}
 .divGame{
    padding: 0;
    margin: 0;
    
}
.showCard{
    background-color: rgb(224, 224, 224);
}
.hideCard{
    width: 150px;
    height: 150px;
}

img{
    margin: 5px 0;
    width: 150px;
    height: 150px;
} 


.L14 img{
}
.L12 img{
}
.L10 img{
}
.L8 img{
}
.L6 img{
}
.L4 img{
}
/* .L2 img{ */
/* } .L2 img:first-child{ margin-left: 20rem;} .L2 img:last-child{ margin-right: 0em;} */